.footer-wrapper {
    background-color: #0C1724;
    padding: 50px 0 100px;
    position: relative;

    .footer-logo {
        max-width: 150px;
    }

    .social-media-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px -5px;
        list-style: none;
        padding: 0;

        @include tabletOnly {
            justify-content: flex-start;
        }

        li {
            padding: 0;
            color: rgba($warning, 0.8);
            margin: 0 20px;

            a {
                text-decoration: none;
                font-size: 19px;
                color: $white;
            }
        }
    }

    .move-to-top {
        position: absolute;
        right: 100px;
        bottom: 50px;

        @include tabletOnly {
            right: 30px;
            bottom: 30px;
        }
    }
}