.footer-wrapper {
    background-color: #0C1724;
    padding: 50px 0 0;
    .footer-logo {
        max-width: 150px;
    }
    .list-heading {
        color: rgba($white, 1);
        font-weight: 700;
        padding: 10px 0;
        margin: 0 0 20px;
        position: relative;
        font-size: 20px;
        display: inline-block;
        &::after {
            content: "";
            width: 40%;
            height: 3px;
            background-color: #FE095C;
            border-radius: 5px;
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 1;
            transition: 0.5s all;
            @include tabletOnly {
                left: 0;
                transform: translateX(0%);
            }
        }
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 0;
            color: rgba($white, 1);
            margin: 0 0 20px;
            a {
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
    .social-media-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px -5px;
        li {
            padding: 0;
            color: rgba($warning, 0.8);
            margin: 0 5px;
            a {
                text-decoration: none;
                font-size: 19px;
            }
        }
    }
    .sub-footer {
        border-top: 1px solid rgba($white, 0.1);
        padding: 20px 0;
        a,
        p {
            color: rgba($white, 1);
            font-size: 14px;
        }
        a {
            font-weight: 600;
        }
    }
}