::-webkit-scrollbar {
    width: calculateRem(0px) !important;
    height: calculateRem(0px) !important;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -font-smoothing: antialiased;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: calculateRem(0px);
}

h1.underline-heading {
    position: relative;
    padding-bottom: 20px;
    &::after {
        content: "";
        width: 40%;
        height: 8px;
        background-color: rgba($warning, 1);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

p.grey-desc {
    font-size: 20px;
    line-height: 1.2;
    color: rgba($secondary, 0.6);
}

button.btn-arrow {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: rgba($dark, 1);
    position: relative;
    padding: 0px 5px;
    text-decoration: none;
    &::after {
        content: "➙";
        background-color: transparent;
        color: #212529;
        position: absolute;
        left: 100%;
        top: 60%;
        transform: translateY(-50%);
        height: 10px;
        display: flex;
        align-items: center;
    }
}